<section>
	<ul class="nav nav-pills">
		<li ng-class="{active:panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Description</a></li>
		<li ng-class="{active:panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">Specifications</a></li>
		<li ng-class="{active:panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)">Reviews</a></li>
	</ul>
	<div class="panel" ng-show="panel.tab===1">
		<h4>Description</h4>
		<p>{{product.description}}</p>
	</div>
	<div class="panel" ng-show="panel.isSelected(2)">
		<h4>Specifications</h4>
		<blockquote>None yet</blockquote>
	</div>
	<div class="panel" ng-show="panel.isSelected(3)">
		<h4>Reviews</h4>
		<blockquote ng-repeat="review in product.reviews">
			<b>Stars: {{review.stars}}</b><br>
			{{review.body}}<br>
			<cite>by: {{review.author}}</cite><br>
		</blockquote>
		<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit=" reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
		<!--LIVE REVIEW-->
			<blockquote>
				<b>Stars: {{reviewCtrl.review.stars}}</b><br>
					{{reviewCtrl.review.body}}<br>
				<cite>by: {{reviewCtrl.review.author}}</cite><br>
			</blockquote>
		<!--LIVE REVIEW-->
			<select ng-model="reviewCtrl.review.stars" required>
				<option value="1">1 star</option>
				<option value="2">2 star</option>
				<option value="3">3 star</option>
				<option value="4">4 star</option>
				<option value="5">5 star</option>
			</select><br> 
			<textarea ng-model="reviewCtrl.review.body" required></textarea><br>
			<label>by:</label>
			<input ng-model="reviewCtrl.review.author" type="email" required/>
			<input type="submit" value="Submit" />

			<!--<div>Review form is {{reviewForm.$valid}}</div>-->
		</form>
	</div>
</section>